<div class="row-fluid">
  <div class="span6 offset5">
    <div class="form-page">

      <h1>Edit <%= resource_name.to_s.humanize %></h1>

      <%= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
          <%= f.inputs do %>

              <%= f.input :name, :as => :string, :label => "Preferred Name", :hint => "" %>
              <%= f.input :email, :as => :email, :label => "WM Email", :hint => "Hint: you must use a @*.wm.edu email address to verify your status as a WM student" %>
              <%= f.input :phone, :as => :phone, :label => "Cell Phone Number" %>

              <%= f.input :current_password, :as => :password, :label => "Current Password", :hint=> "Hint: we need your current password to confirm your changes", :required => true %>
              <%= f.input :password, :as => :password, :label => "New Password", :hint => "Hint: leave these fields blank if you do not want to change it", :autocomplete => "off" %>
              <%= f.input :password_confirmation, :as => :password, :label => "New Password Confirmation", :required => false %>

          <% end %> <!-- end inputs -->

          <div class="row-fluid" id="button"><%= f.action :submit, :label => "Update Account", :button_html => { :class => "btn btn-large btn-primary" } %></div> <br>
          <div class="row-fluid" id="button"><%= f.action :reset, :label => "Reset Fields", :button_html => { :class => "btn btn-large btn-primary" } %> </div>

      <% end %>  <!-- end form -->

    </div>
  </div>
</div>
