<div class="row-fluid">
  <div class="span6 offset5">
    <div class="form-page">

      <h1>Resend unlock instructions</h1>

      <%= semantic_form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
          <%= f.inputs do %>
              <%= f.input :email, :label => "Email", :autofocus => true %>
          <% end %>

          <div class="row-fluid" id="button"><%= f.action :submit, :label => "Resend unlock instructions", :button_html => { :class => "btn btn-large btn-primary" } %></div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
