<div class="form-page">
  <%= semantic_form_for(@worker.navShifts.build(navigator_id: @worker.id), :remote => true) do |f| %>
      <%= f.inputs do %>
          <%= f.input :navigator, :label => "Navigator", :collection => Worker.availableWorkers, :selected => @worker.id %>
          <%= f.input :driver,  :collection => Worker.availableWorkers %>
      <% end %>

      <div class="row-fluid" id="button"><%= f.action :submit, :label => "Start Shift", :button_html => { :class => "btn btn-large btn-primary", :disable_with => 'Shift Starting...' } %></div>

  <% end %>
</div>