<div id="noActive">

  <div class="row-fluid">
    <h1>Van Info</h1>
    <h2><i>Shift started at <%= current_worker.currentShift.created_at.strftime('%b %d %Y %I:%M %p') %> (<%= current_worker.currentShift.shiftLength %>)</i></h2>
    <h2><i>You are not currently accepting ride requests</i></h2>
  </div>

  <div class="row">
    <div id="updateAddress">
      <%= render "workers/elements/updateAddressForm" %>
    </div>
  </div>

  <div class="row-fluid">
    <h1>Accept Ride Requests</h1>
    <div id="becomeActive">
      <%= render "workers/elements/makeInServiceForm" %>
    </div>
  </div>


  <div class="row-fluid">
    <h1>Create a Ride Request</h1>
    <div id="createRideRequest">
    </div>
  </div>

  <div class="row-fluid">
    <h1>Your Team's Ride Requests</h1>
    <div id="acceptedRequests">
    </div>
  </div>

  <div class="row-fluid">
    <h1>Current Ride Request Queue</h1>
    <div id="currentQueue">
    </div>
  </div>

  <div class="row-fluid">
    <h1>End This Shift</h1>
    <div id="endShift">
      <%= render "workers/elements/endShiftForm.html.erb" %>
    </div>
  </div>

</div>

