<div class="row-fluid">
  <div class="span6 offset5">
    <div class="form-page">

      <h1>Change your password</h1>

      <%= semantic_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
          <%= f.hidden_field :reset_password_token %>

          <%= f.input :password, :as => :password, :label => "New Password", :hint => "Hint: can be different from your myWM/WMApps/Banner password" %>
          <%= f.input :password_confirmation, :as => :password, :label => "New Password Confirmation" %>
          <div class="row-fluid" id="button"><%= f.action :submit, :label => "Change my password", :button_html => { :class => "btn btn-large btn-primary" } %></div>
      <% end %>


      <%= render "users/shared/links" %>
    </div>
  </div>
</div>