<div class="row-fluid">
  <div class="span6 offset5">
    <div class="form-page">

      <h1>Sign Up for Steer Clear!</h1>
      <h2>It's really easy to get free rides! All you need is a WM email address and to answer a few simple questions!</h2>

      <%= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
          <!--<%= devise_error_messages! %>-->

          <%= f.inputs do %>

              <%= f.input :name, :as => :string, :label => "Preferred Name", :hint => "" %>
              <%= f.input :email, :as => :email, :label => "WM Email", :hint => "Hint: you must use a @*.wm.edu email address to verify your status as a WM student" %>
              <div class="form-inline"><%= f.input :text, :as => :boolean, :label => "Receive text alerts for pickup?", :hint => "Hint: this can be changed temporarily when you request a ride, or permanently by editing your profile" %></div>
              <%= f.input :phone, :as => :phone, :label => "Cell Phone Number" %>

              <div class="form-inline onCampus">
                <%= f.check_box :onCampus, :id => "onCampus" %>
                <%= f.label "Is this an on campus building?" %>
              </div>
              <div class="address1">
                <%= f.input :address, :as => :string, :label => "House/Apt Number and Street", :append => ' Williamsburg, VA' %>
              </div>
              <div class="address2">
                <!-- has secondary class of ad2 for disabling the field with jquery -->
                <%= f.input :address, :as => :select, :collection => Building.all.map(&:name), :label => 'Campus Building', :input_html => { :disabled => true }, :wrapper_html => { :class => "ad2" } %>
              </div>

              <%= f.input :password, :as => :password, :label => "Password", :hint => "Hint: can be different from your myWM/WMApps/Banner password" %>
              <%= f.input :password_confirmation, :as => :password, :label => "Password Confirmation" %>

          <% end %> <!-- end inputs -->

          <div class="row-fluid" id="button"><%= f.action :submit, :label => "Create Account", :button_html => { :class => "btn btn-large btn-primary" } %></div> <br>
          <div class="row-fluid" id="button"><%= f.action :reset, :label => "Reset Fields", :button_html => { :class => "btn btn-large btn-primary" } %> </div>

      <% end %>  <!-- end form -->

      <%= render "users/shared/links" %>

      <h3>We will never sell or give away your personal information. Your secrets are safe with us :)</h3>

    </div>
  </div>
</div>
